services:
  imgzone-back:
    build: .
    container_name: imgzone-back
    restart: always
    ports:
      - '127.0.0.1:3000:3000'
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      - ./uploads:/app/uploads

networks:
  app-network:
    external: true
