services:
  imgzone:
    container_name: imgzone
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '9000:3000'
    env_file:
      - .env
    restart: always
    networks:
      - app-network

networks:
  app-network:
    external: true
