services:
  imgzone-front:
    build: .
    container_name: imgzone-front
    restart: always
    ports:
      - "127.0.0.1:4000:4000"
    networks:
      - app-network

networks:
  app-network:
    external: true
